// Breakpoints
$extraLargeDesktop: 1920px;
$largeDesktop: 1440px;
$smallDesktop: 1280px;
$largeTablet: 1024px;
$smallTablet: 768px;
$largeSmartphone: 667px;
$smallSmartphone: 375px;

// Colors
$white: #ffffff;
$black: #1a1a1a;
